<div>
    <wait-cursor ng-if="vm.isBusy"></wait-cursor>
    <back-to-top></back-to-top>
    <div class="row" ng-if="!vm.isBusy">
        <div class="col-lg-6">
            <h3><i class="fa fa-cubes"></i> Triedy</h3>
            <div ng-if="vm.nursery.classes.length < 1">
                Zoznam je prázdny
            </div>
            <table class="table table-striped table-responsive" ng-if="vm.nursery.classes.length > 0">
                <thead>
                    <tr>
                        <th width="100">
                            <a href="" ng-click="sortType = 'title'; sortReverse = !sortReverse">
                                Názov
                                <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="hidden-xs" width="200">Triedna učiteľka</th>
                        <th width="80">Poč. detí</th>
                        <th class="hidden-xs" width="105"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="class in vm.nursery.classes | orderBySk:sortType:sortReverse" ng-dblclick="redirect('#/class/' + class.id)">
                        <td>{{ class.name }}</td>
                        <td class="hidden-xs">{{ class.classTeacher.fullName }}</td>
                        <td ng-class="{'text-danger': class.children.length > class.capacity, 'text-warning': class.children.length == class.capacity}">
                            {{ class.children.length + "/" + class.capacity }}
                        </td>
                        <td class="hidden-xs text-right">
                            <a ng-href="#/class/{{ class.id }}" class="shadow-on-hover" title="Detail"><i class="fa fa-folder-open-o"></i></a>
                            <a ng-href="#/class/{{ class.id }}/edit" class="shadow-on-hover" title="Editovať" ng-if="canEdit"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a ng-href="#/class/0/edit" class="btn btn-primary btn-block visible-xs" ng-if="canEdit"><i class="fa fa-plus-circle"></i> Pridať triedu</a>
        </div>
        <div class="col-lg-6 hidden-xs">
            <h3><i class="fa fa-users"></i> Zamestnanci</h3>
            <div ng-if="vm.nursery.employees.length < 1">
                Zoznam je prázdny
            </div>
            <table class="table table-striped table-responsive" ng-if="vm.nursery.employees.length > 0">
                <thead>
                    <tr>
                        <th width="200">Meno</th>
                        <th class="hidden-xs">Telefón</th>
                        <th class="hidden-xs" width="105"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in vm.nursery.employees" ng-dblclick="redirect('#/employee/' + employee.id)" ng-if="employee.attendance == 1">
                        <td>{{ employee.fullName }}</td>
                        <td class="hidden-xs">{{ employee.workPhone }} {{ employee.privatePhone }}</td>
                        <td class="hidden-xs text-right">
                            <a ng-href="#/employee/{{ employee.id }}" title="Detail"><i class="fa fa-folder-open-o"></i></a>
                            <a ng-href="#/employee/{{ employee.id }}/edit" title="Editovať" ng-if="canEdit"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>