body {
    padding-top: 65px;
}.navbar-brand img {
    height: 50px;
    padding: 5px;
    margin-top: -15px;
}li .nav li>a {
    padding-left: 25px;
}
ul.nav-vertical {
    margin-left: 3px;
}
ul.nav-subnav {
    margin-top: 3px;
}
.list-group-item {
    margin-bottom: 0;
}
.fa {
    min-width: 20px;
}
.fa.fa-caret-down, .fa.fa-caret-up {
    min-width: 0;
}
.view {
    margin-bottom: 50px;
}
.text-gray {
    color: darkgray;
}
th>a {
    text-decoration: none!important;
    color: inherit;
}
.note-header h5 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 105%;
}
.note-body p {
    margin: 0;
}
.note-footer a:hover {
    color: red;
}
.note-footer {
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    font-weight: 300;
    font-size: 90%;
}
.note-divider {
    margin: 10px 0;
}
.note-form .form-group-sm {
    margin: 5px 0;
}
.form-find {
    margin: 0;
}
.form-find .input-group {
    padding-left: 3px;
}
.form-find .form-control {
    min-width: 150px;
}
.float-left {
    float: left;
}
.required:after {
    content: " *";
    color: red;
}
li>a.list-group-item[data-toggle='collapse'] {
    padding: 10px 0;
}
li>a.list-group-item .row {
    margin: 0;
}
.validation-summary-errors ul {
    list-style-type: none;
    padding: 0;
}
.truncate {
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
#backtop {
    bottom:55px;
    left:15px;
    opacity:0;
    -moz-transition:all .3s ease-out; 
    -o-transition:all .3s ease-out; 
    -webkit-transition:all .3s ease-out; 
    transition:all .3s ease-out;
    position:fixed;
}
#backtop a {
    outline:none;
    border:0;
    cursor:pointer;
    color: #222;
}
#backtop a:hover {
    color: #333;
}
.show{opacity:1 !important}

table.details-table td {
    vertical-align: text-top;
    padding: 3px 0;
}
table.details-table tr td:first-child {
    font-weight: bold;
    padding-right: 10px;
}
table.details-table tr td:first-child:after {
    content: ":";
}
.dropdown-multiselect {
    width: 100%;
}
.dropdown-multiselect>button {
    text-align: left;
}
@media screen and (max-width: 767px) {
    h3 {
        font-size: 20px;
        margin: 10px 0;
    }
    button.btn>span, a.btn>span {
        display: none;
    }
    .navigation-vertical {
        width: 55px;
        padding: 0;
        position: relative;
        z-index: 1000;
        float: left;
    }
    .navigation-vertical .list-group-item {
        
    }
    .navigation-vertical>ul>li {
        width: 47px;
    }
    .navigation-vertical .list-group-item > span {
        display: none;
    }
    .navigation-vertical .list-group-item:hover > span {
        display: inline-block;
    }
    .navigation-vertical .list-group-item:hover {
        width: 180px;
    }
    .main-content {
        padding: 0;
        margin-left: 55px;
    }
}