body {
    padding-top: 50px;
}

li .nav li>a {
    padding-left: 25px;
}

ul.nav-vertical {
    margin-left: 3px;
}

ul.nav-subnav {
    margin-top: 3px;
}

.list-group-item {
    margin-bottom: 0;
}

.fa {
    min-width: 20px;
}

.col-btn {
    width: 50px;
}

h2.modal-header {
    margin-top: 0;
}

.view {
    margin-bottom: 50px;
}

.note-header h5 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 105%;
}
.note-body p {
    margin: 0;
}
.note-footer a:hover {
    color: red;
}
.note-footer {
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    font-weight: 300;
    font-size: 90%;
}
.note-divider {
    margin: 10px 0;
}
.note-form .form-group-sm {
    margin: 5px 0;
}

