@model MyNurserySchool.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Moja škôlka ";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-sm-offset-4">
            <h3>Kontaktný formulár</h3>
            <form method="post">
                @if (ViewBag.Message != null)
            {
                    <div>@ViewBag.Message</div>
                }
                <div asp-validation-summary="ValidationSummary.ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Meno</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">E-mail</label>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Message" class="control-label">Správa</label>
                    <textarea cols="40" rows="4" asp-for="Message" class="form-control"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-send-o"></i> Odoslať správu</button>
                </div>
            </form>
        </div>
    </div>
</div>
 
