@{
    ViewBag.Title = "Moja škôlka ";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-sm-offset-4">
            <h3>Kontakt</h3>
            
        </div>
    </div>
</div>
 
