@{
    ViewBag.Title = "";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="container">
    <div class="jumbotron">
        
            <h2>Kontakt na administrátora</h2>
            <p>
                Ak máte nejaký problém s aplikáciou, ak chcete spraviť nejaké úpravy v aplikácií alebo ak máte záujem o kúpu aplikácie, kontaktuje ma na tejto adrese:
            </p>
            <p>
                <i class="fa fa-envelope"></i> jan.spacek@gmail.com
            </p>
    </div>
</div>

