@{ 
    ViewBag.Title = "Moja škôlka";
}
<div class="container">
    <div class="jumbotron">
        <h1>Vitajte v aplikácií Moja škôlka</h1>
        <p>Aplikácia Moja škôlka slúži na evidenciu zamestnancov, tried a detí v škôlke.</p>
        @if (!User.Identity.IsAuthenticated)
        {
            <a asp-controller="Auth" asp-action="Login" class="btn btn-lg btn-success">Prihlásenie</a>
        }
    </div>
</div>