@model IEnumerable<MyNurserySchool.Models.Nursery>
@{ 
    ViewBag.Title = "Domov";
}
<div class="container">
    <div class="col-md-12 text-center">
        <h1>Vitajte v aplikácií Moja škôlka</h1>
        <p>Aplikácia Moja škôlka slúži na evidenciu zamestnancov, tried a detí v škôlke.</p>
        @if (!User.Identity.IsAuthenticated)
        {
            <a asp-controller="Auth" asp-action="Login" class="btn btn-lg btn-success">Prihlásenie</a>
        }
    </div>
</div>