@{
    ViewBag.Title = "";

}

<div class="container">
    <div class="alert alert-danger">
        Nemáte dostatočné oprávnenia. <br />
        Prosím kontaktujte administrátora na adrese <a href="mail:jan.spacek@gmail.com">jan.spacek@gmail.com</a>
    </div>
</div>

