@{ 
    ViewBag.Title = "Prehľad škôlok";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/app/Nurseries/nurseries-app.js"></script>
    <script src="~/app/Nurseries/nurseriesController.js"></script>
    <script src="~/app/Nurseries/nurseryNewController.js"></script>
    <script src="~/app/Nurseries/nurseryEditController.js"></script>
    <script src="~/app/Common/simpleControls.js"></script>
}

<div ng-app="nurseries-app">
    <div class="col-sm-3 col-lg-2">
            @if (User.Identity.Name == "admin")
            {
                <a href="#/new" class="btn btn-primary btn-block"><i class="fa fa-plus-circle"></i>pridať škôlku</a>
            }
    </div>
    <div class="col-sm-9 col-lg-10">
        <div class="container-fluid">

            <div ng-view></div>

        </div>
    </div>  
</div>