<div>
    <wait-cursor ng-if="vm.isBusy"></wait-cursor>
    <form novalidate name="nurseryEditForm" ng-submit="vm.saveClass()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Názov</label>
                    <input ng-model="vm.class.name" type="text" name="name" class="form-control" />
                </div>
                <div class="form-group row">
                    <div class="col-sm-9">
                        <label for="teacher">Triedna učiteľka</label>
                        <select ng-model="vm.class.classTeacher" ng-options="option.fullName for option in vm.nursery.employees track by option.id" class="form-control" name="teacher" />
                    </div>
                    <div class="col-sm-3">
                        <label for="capacity">Kapacita</label>
                        <input ng-model="vm.class.capacity" type="number" name="capacity" class="form-control" maxlength="2"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description">Popis</label>
                    <textarea ng-model="vm.class.description" type="text" name="description" class="form-control" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <input type="submit" value="Uložiť zmeny" class="btn btn-success" />
                <a href="#/" class="btn btn-warning"><i class="fa fa-reply"></i> Späť</a>
            </div>
            <div class="col-xs-4 text-right">
                <button type="button" class="btn btn-danger" ng-click="vm.deleteClass()"><i class="fa fa-trash-o"></i> Vymazať</button>
            </div>
        </div>
    </form>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            Vytvoril {{ vm.class.createdBy }} {{ vm.class.created | date : 'd.M.yyyy HH:mm' }}<br>
            <span ng-if="vm.class.modifiedBy">Poslednú zmenu vykonal {{ vm.class.modifiedBy }} {{ vm.class.modified | date : 'd.M.yyyy HH:mm' }}</span>
        </div>
    </div>
</div>