<div>
    <wait-cursor ng-if="vm.isBusy"></wait-cursor>
    <div ng-class="{ 'row': canEdit }">
        <div ng-class="{ 'col-md-6': canEdit }">
            <h3>{{ vm.employee.fullName }}</h3>
            {{ vm.employee.birthDate | date : 'd.M.yyyy' }}
            <hr />
            <div>
                <label>E-mail: </label>
                {{ vm.employee.email }}
            </div>
            <div>
                <label>Súkromný telefón: </label>
                {{ vm.employee.privatePhone }}
            </div>
            <div>
                <label>Služobný telefón: </label>
                {{ vm.employee.workPhone }}
            </div>
            <div ng-if="vm.employee.address != null">
                <label>Adresa: </label>
                <p>
                    {{ vm.employee.address.street }} {{ vm.employee.address.number }}<br>
                    {{ vm.employee.address.city }}<br>
                    {{ vm.employee.address.zip }}
                </p>
            </div>
            <hr />
            <div ng-if="vm.employee.description != null">
                <label>Popis: </label>
                <p><span ng-bind-html="vm.employee.description"></span></p>
            </div>
            <div>
                <label>Popis práce: </label>
                {{ vm.employee.jobTitle }}
            </div>
            <div>
                <label>Pracovný úväzok: </label>
                {{ vm.employee.employment }}
            </div>
            <div>
                <label>Pracovný stav: </label>
                {{ vm.attendanceStates[vm.employee.attendance] }}
            </div>
            <div ng-if="vm.employee.startDate != null">
                <label>Dátum nástupu: </label>
                {{ vm.employee.startDate | date : 'd.M.yyyy' }}
            </div>
            <div ng-if="vm.employee.attendance == 2">
                <label>Dátum odchodu: </label>
                {{ vm.employee.leaveDate | date : 'd.M.yyyy' }}
            </div>
            <br />
            <div class="row">
                <div class="col-xs-8">
                    <a href="#/employee/{{ vm.employee.id }}/edit" class="btn btn-default" ng-if="canEdit"><i class="fa fa-edit"></i> Upraviť</a>
                    <back-button></back-button>
                </div>
                <div class="col-xs-4 text-right">
                    <!--<button type="button" class="btn btn-danger" ng-click="vm.deleteEmployee()" ng-if="canEdit"><i class="fa fa-trash-o"></i> Vymazať</button>-->
                </div>
            </div>
            <created-modified model="vm.employee"></created-modified>
            <br />
        </div>
        <div class="col-md-6" ng-if="canEdit">
            <div class="note-form">
                <form name="noteForm" ng-submit="vm.saveNote()">
                    <div class="form-group-sm">
                        <input ng-model="vm.newNote.title" type="text" class="form-control" placeholder="Titulok" />
                    </div>
                    <div class="form-group-sm">
                        <textarea ng-model="vm.newNote.text" class="form-control form" rows="3" placeholder="Text"></textarea>
                    </div>
                    <div class="form-group-sm text-right">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> Zapísať</button>
                    </div>
                </form>
            </div>
            <div ng-repeat="note in vm.employee.notes | orderBy: '-id'">
                <hr class="note-divider" />
                <div class="note-header" ng-if="note.title">
                    <h5>{{ note.title }}</h5>
                </div>
                <div class="note-body" ng-if="note.text">
                    <p><span ng-bind-html="note.text"></span></p>
                </div>
                <div class="note-footer text-right">
                    {{ note.createdBy }} {{ note.created | date : 'd.M.yyyy HH:mm' }}
                    <a class="btn btn-sm" ng-click="vm.deleteNote(note.id)" title="Vymazať"><i class="fa fa-trash-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>