<div>
    <wait-cursor ng-if="vm.isBusy"></wait-cursor>
    <form novalidate name="employeeEditForm" ng-submit="vm.saveEmployee()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Celé meno</label>
                    <input ng-model="vm.employee.fullName" type="text" name="name" id="name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input ng-model="vm.employee.email" type="email" name="email" id="email" class="form-control" />
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="privatePhone">Súkromný telefón</label>
                        <input ng-model="vm.employee.privatePhone" type="text" name="privatePhone" id="privatePhone" class="form-control" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="workPhone">Služobný telefón</label>
                        <input ng-model="vm.employee.workPhone" type="text" name="workPhone" id="workPhone" class="form-control" />
                    </div>
                    <div class="form-group col-sm-8">
                        <label for="street">Ulica</label>
                        <input ng-model="vm.employee.address.street" type="text" name="street" id="street" class="form-control" />
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="number">Číslo domu</label>
                        <input ng-model="vm.employee.address.number" type="text" name="number" id="number" class="form-control" />
                    </div>
                    <div class="form-group col-sm-8">
                        <label for="city">Obec</label>
                        <input ng-model="vm.employee.address.city" type="text" name="city" id="city" class="form-control" />
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="zip">PSČ</label>
                        <input ng-model="vm.employee.address.zip" type="text" name="zip" id="zip" class="form-control" maxlength="5" />
                    </div>
                </div>  
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description">Popis</label>
                    <textarea ng-model="vm.employee.description" type="text" name="description" id="zip" class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="jobTitle">Popis práce</label>
                    <input ng-model="vm.employee.jobTitle" type="text" name="jobTitle" id="jobTitle" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="employment">Pracovný úväzok</label>
                    <input ng-model="vm.employee.employment" type="text" name="employment" id="employment" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="state">Pracovný stav</label>
                    <select ng-model="vm.employee.attendance" ng-options="o.id as o.name for o in attendance track by o.id" class="form-control" name="state" id="state" />
                </div>
            </div>
            <div col-md-9>
                <div class="form-group col-md-4 col-lg-3">
                    <label for="birthDate">Dátum narodenia</label><br>
                    <md-datepicker ng-model="vm.birthDate" md-placeholder="Zadajte dátum" name="birthDate" id="birthDate"></md-datepicker>
                </div>
                <div class="form-group col-md-4 col-lg-3">
                    <label for="startDate">Dátum nástupu</label><br>
                    <md-datepicker ng-model="vm.startDate" md-placeholder="Zadajte dátum" name="startDate" id="startDate"></md-datepicker>
                </div>
                <div class="form-group col-md-4 col-lg-3" ng-if="vm.employee.attendance == 2">
                    <label for="leaveDate">Dátum odchodu</label><br>
                    <md-datepicker ng-model="vm.leaveDate" md-placeholder="Zadajte dátum" name="leaveDate" id="leaveDate"></md-datepicker>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <button type="submit" class="btn btn-success" ng-if="!vm.isNew"><i class="fa fa-save"></i> Uložiť zmeny</button>
                <button type="submit" class="btn btn-success" ng-if="vm.isNew"><i class="fa fa-user-plus"></i> Vytvoriť zamestnanca</button>
                <a href="#/" class="btn btn-warning"><i class="fa fa-reply"></i> Späť</a>
            </div>
            <div class="col-xs-4 text-right">
                <button type="button" class="btn btn-danger" ng-click="vm.deleteEmployee()" ng-if="!vm.isNew"><i class="fa fa-user-times"></i> Vymazať</button>
            </div>
        </div>
    </form>
    <created-modified model="vm.employee" ng-if="!vm.isNew"></created-modified>
</div>