<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>  
    <supportedRuntime version="v2.0.50727"/></startup>
    <appSettings>
      <!-- Cesta k priecinku s .ini subormi -->
      <add key="mailboxPath" value="C:\ProgramData\MailBoxes" />
      <!-- Port, na ktorom bude servis pocuvat -->
      <add key="port" value="2301" />
      <!-- Monitorovaci interval v sekundach -->
      <add key="monitoringInterval" value="10" />
      <!-- Format klapky D3 = 000 -->
      <add key="extensionFormat" value="D3" />
      <!-- EventId, s ktorym sa budu eventy zobrazovat v Event Viewer-->
      <add key="eventId" value="55555" />
      <!-- Ci sa maju logovat informacie o monitorovani 0/1 -->
      <add key="logMonitoringInfo" value="1" />      
    </appSettings>
  </configuration>
