<div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-trash-o"></i> Vymazávanie</h3>
</div>
<div class="modal-body">
    Naozaj chcete vymazať {{deleteModalTarget}} z databázy?
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">
        <i class="fa fa-trash-o"></i> Áno, vymazať
    </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">
        <i class="fa fa-reply"></i> Späť
    </button>
</div>