<div>
    <wait-cursor ng-if="vm.isBusy"></wait-cursor>
    <div class="row">
        <div class="col-md-6">
            <h3>{{ vm.child.firstName + " " + vm.child.lastName }}</h3>
            {{ vm.child.birthDate | date : 'd.M.yyyy' }}<br />
            {{ vm.child.socialNumber }}
            <hr />
            <div>
                <label>Kontakty: </label>
                <p><span ng-bind-html="vm.child.contacts"></span></p>
            </div>
            <div ng-if="vm.child.address != null">
                <label>Adresa: </label>
                <p>
                    {{ vm.child.address.street }} {{ vm.child.address.number }}<br>
                    {{ vm.child.address.city }}<br>
                    {{ vm.child.address.zip }}
                </p>
            </div>
            <hr />
            <div ng-if="vm.child.description != null">
                <label>Popis: </label>
                <p><span ng-bind-html="vm.child.description"></span></p>
            </div>
            <div ng-if="vm.child.attendance != null">
                <label>Stav: </label>
                {{ vm.attendanceStates[vm.child.attendance] }}
            </div>
            <div ng-if="vm.child.startDate != null">
                <label>Dátum nástupu: </label>
                {{ vm.child.startDate | date : 'd.M.yyyy' }}
            </div>
            <div ng-if="vm.child.attendance == 2">
                <label>Dátum odchodu: </label>
                {{ vm.child.leaveDate | date : 'd.M.yyyy' }}
            </div>
            <br />
            <div class="row">
                <div class="col-xs-8">
                    <a href="#/child/{{ vm.child.id }}/edit" class="btn btn-default"><i class="fa fa-edit"></i> Upraviť</a>
                    <a href="#/class/{{ vm.child.classId }}" class="btn btn-warning"><i class="fa fa-reply"></i> Späť</a>
                </div>
                <div class="col-xs-4 text-right">
                    <!--<button type="button" class="btn btn-danger" ng-click="vm.deletechild()"><i class="fa fa-trash-o"></i> Vymazať</button>-->
                </div>
            </div>
            <created-modified model="vm.child"></created-modified>
            <br />
        </div>
        <div class="col-md-6">
            <div>
                <form name="noteForm" ng-submit="vm.saveNote()">
                    <div class="form-group-sm">
                        <input ng-model="vm.newNote.title" type="text" class="form-control" placeholder="Titulok" />
                    </div>
                    <div class="form-group-sm">
                        <textarea ng-model="vm.newNote.text" class="form-control form" rows="3" placeholder="Text"></textarea>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i> Zapísať</button>
                    </div>
                </form>
            </div>
            <div ng-repeat="note in vm.child.notes | orderBy: '-id'">
                <hr class="note-divider" />
                <div class="note-header" ng-if="note.title">
                    <h5>{{ note.title }}</h5>
                </div>
                <div class="note-body" ng-if="note.text">
                    <p><span ng-bind-html="note.text"></span></p>
                </div>
                <div class="note-footer text-right">
                    {{ note.createdBy }} {{ note.created | date : 'd.M.yyyy HH:mm' }}
                    <a class="btn btn-sm" ng-click="vm.deleteNote(note.id)"><i class="fa fa-trash-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
