<div ng-if="canEdit">
    <wait-cursor ng-if="vm.isBusy"></wait-cursor>
    <form novalidate name="editForm" ng-submit="vm.saveClass(editForm.$valid)">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error' : editForm.name.$invalid && !editForm.name.$pristine }">
                    <label for="name" class="required">Názov</label>
                    <input ng-model="vm.class.name" type="text" name="name" id="name" class="form-control" required />
                    <p ng-show="editForm.name.$invalid && !editForm.name.$pristine" class="help-block">Názov je povinná položka</p>
                </div>
                <div class="form-group row">
                    <div class="col-sm-9">
                        <label for="teacher">Triedna učiteľka</label>
                        <select ng-model="vm.class.classTeacher" ng-options="option.fullName for option in vm.nursery.employees track by option.id" class="form-control" name="teacher" id="teacher" />
                    </div>
                    <div class="col-sm-3">
                        <label for="capacity">Kapacita</label>
                        <input ng-model="vm.class.capacity" type="number" name="capacity" id="capacity" class="form-control" maxlength="2"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description">Popis</label>
                    <textarea ng-model="vm.class.description" type="text" name="description" id="description" class="form-control" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <button type="submit" class="btn btn-success" ng-if="!vm.isNew" ng-disabled="editForm.$invalid"><i class="fa fa-save"></i> Uložiť zmeny</button>
                <button type="submit" class="btn btn-success" ng-if="vm.isNew" ng-disabled="editForm.$invalid"><i class="fa fa-plus-circle"></i> Vytvoriť triedu</button>
                <back-button></back-button>
            </div>
            <div class="col-xs-4 text-right">
                <button type="button" class="btn btn-danger" ng-click="vm.deleteClassModal()" ng-if="!vm.isNew"><i class="fa fa-trash-o"></i> Vymazať</button>
            </div>
        </div>
    </form>
    <created-modified model="vm.class" ng-if="!vm.isNew"></created-modified>
</div>
<div ng-if="!canEdit">
    <div class="alert alert-warning">Nemáte oprávnenie vidieť obsah tejto stránky</div>
</div>