<div>
    <div>
        <div class="float-left">
            <back-button></back-button>
            <a ng-href="#/child/0/edit" class="btn btn-primary" ng-if="canEdit"><i class="fa fa-user-plus"></i> Pridať dieťa</a>
            <a ng-click="exportAction('excel')" class="btn btn-success" title="Export do Excelu"><i class="fa fa-lg fa-file-excel-o"></i></a>
            <a ng-click="exportAction('doc')" class="btn btn-primary" title="Export do Wordu"><i class="fa fa-lg fa-file-word-o"></i></a>
        </div>
        <div class="form-group form-find">
            <div class="input-group">
                <div class="input-group-addon input-sm"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Hľadať..." ng-model="search">
            </div>
        </div>
    </div>
    <h3><i class="fa fa-child"></i> Zoznam všetkých detí</h3>
    <wait-cursor ng-show="vm.isBusy"></wait-cursor>
    <back-to-top></back-to-top>
    <div ng-if="vm.attendantChildren.length < 1">
        Zoznam je prázdny
    </div>
    <div ng-if="vm.attendantChildren.length > 0">
        <table class="table table-striped table-condensed export-table">
            <thead>
                <tr>
                    <th width="65">
                        <a href="" ng-click="sortType = 'number'; sortReverse = !sortReverse">
                            Por.č.
                            <span ng-show="sortType == 'number' && sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'number' && !sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th width="170">
                        <a href="" ng-click="sortType = 'lastName'; sortReverse = !sortReverse">
                            Meno
                            <span ng-show="sortType == 'lastName' && sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'lastName' && !sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th width="150">
                        <a href="" ng-click="sortType = 'birthDate'; sortReverse = !sortReverse">
                            Dátum narodenia
                            <span ng-show="sortType == 'birthDate' && sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'birthDate' && !sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th width="120">Rodné číslo</th>
                    <th width="100">
                        <a href="" ng-click="sortType = 'className'; sortReverse = !sortReverse">
                            Trieda
                            <span ng-show="sortType == 'className' && sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'className' && !sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th width="150">Kontakt</th>
                    <th>Popis</th>
                    <th width="105"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="child in vm.attendantChildren | orderBySk:sortType:sortReverse | filter:search" ng-dblclick="redirect('#/child/' + child.id)" ng-class="{'text-gray': child.attendance == 2, 'text-primary': child.attendance == 0}">
                    <td>{{ child.number }}</td>
                    <td>{{ child.lastName }}</td>
                    <td>{{ child.birthDate | date : 'd.M.yyyy' }}</td>
                    <td>{{ child.socialNumber }}</td>
                    <td>{{ child.className }}</td>
                    <td><span ng-bind-html="child.contacts"></span></td>
                    <td class="truncate"><span ng-bind-html="child.description"></span></td>
                    <td class="text-right">
                        <a ng-href="#/child/{{ child.id }}" class="btn btn-sm btn-default" title="Detail"><i class="fa fa-folder-open-o"></i></a>
                        <a ng-href="#/child/{{ child.id }}/edit" class="btn btn-sm btn-primary" title="Editovať" ng-if="canEdit"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>