<div>
    <div>
        <div class="float-left">
            <back-button></back-button>
            <a ng-href="#/employee/0/edit" class="btn btn-primary" ng-if="canEdit"><i class="fa fa-user-plus"></i> Pridať zamestnanca</a>
            <a ng-click="exportAction('excel')" class="btn btn-success" title="Export do Excelu"><i class="fa fa-lg fa-file-excel-o"></i></a>
            <a ng-click="exportAction('doc')" class="btn btn-primary" title="Export do Wordu"><i class="fa fa-lg fa-file-word-o"></i></a>
        </div>
        <div class="form-group form-find">
            <div class="input-group">
                <div class="input-group-addon input-sm"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Hľadať..." ng-model="search">
            </div>
        </div>
    </div>
    <h3><i class="fa fa-users"></i> Zoznam zamestnancov</h3>
    <wait-cursor ng-if="vm.isBusy"></wait-cursor>
    <back-to-top></back-to-top>
    <div ng-if="vm.employees.length < 1">
        Zoznam je prázdny
    </div>
    <div ng-if="vm.employees.length > 0">
        <table class="table table-striped table-condensed export-table">
            <thead>
                <tr>
                    <th width="200">Meno</th>
                    <th width="230">E-mail</th>
                    <th>Telefón</th>
                    <th>Stav</th>
                    <th width="105"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in vm.employees | filter:search" ng-dblclick="redirect('#/employee/' + employee.id)" ng-class="employee.attendance == 0 ? 'text-primary' : employee.attendance == 2 ? 'text-gray' : ''">
                    <td>{{ employee.fullName }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.workPhone }} {{ employee.privatePhone }}</td>
                    <td>{{ attendance[employee.attendance].name }}</td>
                    <td class="text-right">
                        <a ng-href="#/employee/{{ employee.id }}" class="btn btn-sm btn-default" title="Detail"><i class="fa fa-folder-open-o"></i></a>
                        <a ng-href="#/employee/{{ employee.id }}/edit" class="btn btn-sm btn-primary" title="Editovať" ng-if="canEdit"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>